<%#= image_tag "1429308-drinks-wallpaper.jpg" %>
<div class="container">
  <div class="row">
    <h1>Cock-tales</h1>
    <h3>What's your best Cock-tale?</h3>
    <p class="create-button"><%= link_to 'Create a new cocktail', new_cocktail_path, class: "btn btn-primary "%></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul>
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="cocktail" style="<%= image_path "vodka.jpg" %>">
          <p class="button"><%= link_to cocktail.name, cocktail %></p>
        </div>
          <input id="checkBox" type="checkbox" name="can make" value="complete">
          <label for="completed"><p>Tried it</p></label>
      </div>
    <% end %>
    </ul>
  </div>
</div>



